body {
	background: #DBDBDB;
	font-family: "Quicksand";
	margin: 0;
}

#header {
	color: #24C59F;
	width: 100%;
	height: 70px;
	background: #313C41;
	border: none;
	display: inline-block;
	position: fixed;
}

#header ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

#header li {
	float: left;
    text-align: center;
	vertical-align:center;
}

#header li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 40px;
	list-style-type: none;
	padding-left: 20px;	
	padding-right: 20px;
	padding-top: 10px;
	text-align: center;
	color: #24C59F;
	/*margin-top: 20px;*/
}

#header li a:hover {
	color: #A7F1DE;
}

.separator {
	width: 100%;
	height: 90px;
}

#login {
	width: 100%;
	height: 85%;
	background: #4E5D64;
	/*height: 50%;*/
}

#fields {
	width: 60%;
}

#login div {
	padding: 20px;
	margin: 0 auto;
	color: #fff;
}

.input {
	width: 100%;
	font-family: "Quicksand";
	font-size: 15px;
	padding: 10px;
	float: right;
	vertical-align: center;
	border-radius: 1px;
	border:none;
	margin-top: 8px;
	margin-bottom: 15px;
}

#login div label{
	margin-bottom: 30px;
}

#startText {
	font-size: 25px;
    margin: 0 auto;
  	text-align: center;
  	display: block;
}

.button {
	margin-top: 25px;
	padding: 13px;
	border: none;
	font-family: "Quicksand";
	color: #fff;
	border-radius: 4px;
}

#btCancel {
	background: #24C59F;
	float: right;
}
#btCancel:hover {
	background: #1c977a;
}

#btRegister {
	background: #FC716E;
}

#btRegister:hover {
	background: #fb3a37;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #DBDBDB;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #DBDBDB;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #DBDBDB;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #DBDBDB;
}

#footer {
	margin-top: 1%;
	width: 100%;
	height: 20px;
	margin-bottom: 0px !important;
	background: #95989A;
	text-orientation: center;
}

#footer p{
	padding-right: 15px;
	padding-top: 4px;
	font-size: 11px;
	color: #FFF;
	text-align: right;
}