body {
	background: #DBDBDB;
	font-family: "Quicksand";
	margin: 0;
}

#header {
	color: #24C59F;
	width: 100%;
	height: 70px;
	background: #313C41;
	border: none;
	display: inline-block;
	position: fixed;
}

#header ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

#header li {
	float: left;
    text-align: center;
	vertical-align:center;
}

#header li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 40px;
	list-style-type: none;
	padding-left: 20px;	
	padding-right: 20px;
	padding-top: 10px;
	text-align: center;
	color: #24C59F;
}

#header li a:hover {
	color: #A7F1DE;
}

#sair {
	font-size: 25px !important;
	padding-top: 20px !important;
}

.separator {
	width: 100%;
	height: 80px;
}

#middle {
	width: 100%;
	height: 550px;
}

.middle {
	height: 100% !important;
	display: inline-block;
}

#graphics {	
	width: 30%;
	float: right;
	color: #fff;
}

.graphic {
	width: 50%;
	height: 30%;
	background: #0f0;
	margin: auto;
	margin-top: 3%;
}

#table {
	width: 65%;
	margin-left: 3%;
	border: none;
	overflow-y: scroll;
}

#gp1 { background: #FC716E; }
#gp2 { background: #24C59F; }
#gp3 { background: #FE9626; }

table {
	width: 100%;
	color: #fff;
	border-spacing: 0px;
}

#table a {
	color: #fff;
	text-decoration: none;
}

.dark {
	background: #3B474D;
}

thead tr{
	background: #4E5D64;
	height: 60px;
	color: #24C59F;
}
tr {
	background: #4E5D64;
}

tbody {
	text-align: center;
}

tbody tr td {
	padding: 10px;
}

#footer {
	margin-top: 1%;
	width: 100%;
	height: 20px;
	margin-bottom: 0px !important;
	background: #95989A;
	bottom: 0;
}

#footer p{
	padding-right: 15px;
	padding-top: 4px;
	font-size: 11px;
	color: #FFF;
	text-align: right;
}

#gp3 table {
	width: 80%;
	margin: auto;
}

#gp3 table thead tr th {
	color: #fff;
	text-align: center;
	background: #FE9626;
	border-bottom: 1px solid #fff;
}

#gp3 table tbody tr td {
	background: #FE9626;
	font-size: 50px;
}

#modal {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	display: none;
}

#modal:target {
	display: block;
}

#modal:target ~ .box {
	top: 10%;
	transition: all .3s;
	transition-delay: .2s;
}

.box {
	width: 90%;
	height: 85%;
	position: absolute;
	margin-left: 5%;
	background: #24C59F;
	top: -100%;
	color: #313C41;
}

#close {
	position: absolute;
	right: 0;
	margin-top: -15px;
	margin-right: -10px;
}

#title {
	width: 100%;
	text-align: center;
	font-size: 30px;
}

#description {
	right: 0;
	width: 98%;
	height: 98%;
	margin: 1% 0 0 2%;
	/*background: #0f0;*/
	display: block;
	vertical-align: center;
	overflow-y: auto;
}

dt {
  font-size: 2.2rem;
  font-weight: 300;
}

dd {
  margin: 0 0 40px 0;
  font-size: 1.4rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

#text {
	width: 95%;
}